<aside class="w-72 bg-gray-900 p-4 border-r border-gray-700">
    <h2 class="text-green-400 text-lg font-semibold mb-4">Connected Clients</h2>

    <div class="flex items-center justify-between text-sm mb-4">
      <span class="bg-green-600 text-shadow-white text-xs px-3 py-0.5 rounded-full"><%=onlineCount%> online</span>
      <span class="bg-gray-600 text-shadow-white text-xs px-3 py-0.5 rounded-full"><%=offlineCount%> Offline</span>
      <button onclick="window.location.href='/newclient'"
      class="bg-white hover:bg-gray-200 text-gray-600 text-xs px-4 py-0.5 rounded-md border border-gray-600">+ Device</button>
    </div>

    <!-- Client Card -->
    <div class="space-y-3">
      <% clients.forEach(client => { %>
        <% if (client.status === 'online') { %>
          <div class="client-card relative bg-gray-800 p-3 rounded-lg border border-green-400 opacity-60" client_id="<%= client._id%>" client_ip_address="<%=client.ip_address%>">
            <div class="absolute top-2 right-2 w-2.5 h-2.5 bg-green-400 rounded-full shadow-md"></div>
            <h3 class="font-medium"><%= client.name %></h3>
            <p class="client_status text-sm text-gray-300"><%= client.status %></p>
            <p class="text-xs text-gray-400">Last seen: <%= client.updatedAt%></p>
            <p class="text-xs text-gray-400"><%= client.ip_address %></p>
          </div>

        <% } else { %>
          <div class="client-card bg-gray-800 p-3 rounded-lg border border-gray-600 opacity-60" client-id="<%= client.id %>" client_ip_address="<%=client.ip_address%>">
            <h3 class="font-medium"><%= client.name %></h3>
            <p class="client_status text-sm text-gray-300"><%= client.status %></p>
            <p class="text-xs text-gray-400">Last seen: <%= client.updatedAt%></p>
            <p class="text-xs text-gray-400"><%= client.ip_address %></p>
          </div>
        <% } %>
      <% }) %>
    </div>
    </aside>
    <script src="/js/main.js"></script>



  