<!doctype html>
<html>
<%- include('../includes/head')%>
  <body>
    <%- include('../includes/header')%>

    <!-- whole content container -->
  <div class="flex h-screen text-white bg-gray-900 font-sans">
    <!-- Connected Clients Sidebar -->
    <%- include('../includes/sidebar.ejs',{clients,onlineCount,offlineCount,currentPage,totalPages})%>

    <!-- Right Main Panel -->
    <main class="flex-1 flex flex-col p-6 space-y-4 bg-gray-900">
    <div class="bg-gray-800 border border-gray-700 rounded-lg p-4 flex justify-between items-center">
        <div class="flex items-center gap-18 text-sm text-gray-300">
          <span class="ml-2 px-2 py-1">Session: <span class="text-green-400">session-<%= currentSessionId.session_id %></span></span>
          <span class="ml-2 px-2 py-1"><%= currentSessionId.date %></span>
          <span class="ml-2 px-2 py-1">|</span>
          <span class="px-2 py-1 ml-5 mr-"> 🕒 <%= currentSessionId.time %></span>
        </div> 
        <a href="/exportsession/<%= currentSessionId.session_id %>">
        <button class="text-xs text-gray-600 bg-white hover:bg-gray-200 px-4 py-2 rounded border border-gray-600">
          Export Log
        </button>
        </a>
    </div>
    <div class="flex items-center gap-4">
    </div>
    <div class="flex items-center justify-between">
      <div class="flex gap-4">
        <a href="/dashboard">
          <button class="bg-gray-700 text-white px-4 py-2 rounded-lg text-sm">Command Results</button>
        </a>
        <a href="/sessions">
          <button class="bg-gray-800 text-gray-400 px-4 py-2 rounded-lg text-sm">Session Logs</button>
        </a>
      </div>

    </div>
    <div class="mb-4 flex items-center gap-4">
      <input type="text" placeholder="enter session_id..." class="w-full bg-white text-gray-800 px-4 py-2 rounded-md text-sm" id="sessionSearchInput"  />
      <button class="bg-white text-xs text-gray-600 px-4 py-2 rounded-md border border-gray-300" id="searchButton">
       Search
      </button>
    </div>
    <div id="sessionContent">
      <%- include('./_table', { sessions }) %>

    </div>
    <nav class="mt-4 p-2 border-t border-gray-700 text-sm text-shadow-white flex justify-between">
      <% if (sessionPage > 1) { %>
        <a href="?page=<%= sessionPage  - 1 %>" class="hover:underline">← Previous</a>
      <% } else { %>
        <span class="text-shadow-white">← Previous</span>
      <% } %>

      <span>Page <%= sessionPage %> of <%= sessiontotalPages %></span>

      <% if (sessionPage < sessiontotalPages) { %>
        <a href="?page=<%= currentPage + 1 %>" class="hover:underline">Next →</a>
      <% } else { %>
        <span class="text-shadow-white">Next →</span>
      <% } %>
    </nav>

   
    </main>
  </div>
  <script src="/js/sessionShow.js"></script>
  </body>
</html>